*{
	user-select: none;
}
body{
	background-image: url('background.jpg');
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;	
}
header .head_1_1_btn .head_1_1_btn_1{
	position: absolute;
	color: #3578B1;
	/*margin-top: 70px;*/
	margin-left: 1250px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #3578B1;
	border-radius: 5px;
	text-decoration: none;
}
header .head_1_1_btn .head_1_1_btn_1:hover{
	background: #3578B1;
	color: white;
}
header .head_1_1_btn .head_1_1_btn_2{
	position: absolute;
	color: #3578B1;
	/*margin-top: 70px;*/
	margin-left: 1120px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #3578B1;
	border-radius: 5px;
	text-decoration: none;
}
header .head_1_1_btn .head_1_1_btn_2:hover{
	background: #3578B1;
	color: white;
}
content{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
content .cont_1_1_input{
	display: flex;
	margin-left: 100px;
	/*background: red;*/
}
content .cont_1_1_input .cont_1_1_input_1{
	margin-top: 100px;
}
content .cont_1_1_input .cont_1_1_input_1 h3{
	margin-bottom: -0.5px;
	color: white;
}
content .cont_1_1_input .cont_1_1_input_1 .input{
	/*border: 3px solid red;*/
	border-radius: 7px;
	font-size: 20px;
}
.cont_1_2_img img{
	width: 500px;
	height: 500px;
	/*background: red;*/
	margin-top: 30px;
	margin-left: 300px;
}